/* ===================GOOGLE FONTS ======================================= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --body-font: "Poppins", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --normal-font-size : 1rem;
  --font-normal : 400;
  --font-medium : 500;
  --font-bold: 600
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: var(--body-font);
  font-weight: var(--font-normal);
}

.app__container{
  display: flex;
  height: 100vh;
  box-sizing: border-box;
}


/* ************************ Nav section    ******************************* */
nav{
  flex:1;
  min-width: 250px;
  background-color: rgba(255, 255, 255, 1);
  height: 100%;
  justify-content: center;
  color:rgba(115, 119, 145, 1);
  font-weight: var(--font-medium);
}
.main__container{
  flex : 4;
}
.company__name{
  font-size: 1.2rem;
}

.nav__logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin : 0.25rem 0 2rem 0;
}

.nav__menu{
  font-size: 0.9rem;
  
}
.nav__icon {
  font-size: 1.1rem;
}

.nav__title{
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem auto;
  width: 65%;
  /* justify-content: center; */
  justify-content: flex-start;
  cursor: pointer;
  border-radius: 1rem;
  align-items: center;
}
.nav__title:hover {
  background-color:rgba(243, 148, 30, 1);
  color: #ffff;
}

.nav__title:focus{
  background-color:rgba(243, 148, 30, 1);
  color: #ffff;
}
.active__item{
  background-color:rgba(243, 148, 30, 1);
  color: #ffff;
}



/* ************************** Header ************** */
header{
    display: flex;
    /* gap: 12rem; */
    font-size: 0.75rem;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    align-items: center;
    /* border:  1px solid rgba(0, 0, 0, 0.4) ; */
}
.search__box{
  /* margin: 1.5rem; */
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  
  /* flex: 3; */
  /* border:  1px solid rgba(0, 0, 0, 0.4) ; */
  border-radius: .5rem;
 background-color:  rgba(249, 250, 251, 1);
 /* max-width: 500px; */
 align-items: center;
 width: 60%;
}
.header__profile__box{
  display: flex;
  margin: 0.5rem;
  padding: .5rem;
  gap: 0.75rem;
  /* border:  1px solid rgba(0, 0, 0, 0.4) ; */
  align-items: center;
}
.header__icon{
  font-size: 1.5rem;
}
.header__profile{
  border-radius: 50%;
  width: 2.5rem;
  margin: 0 0.5rem;
}

.profile__title{
  font-size: 1rem;
}
/* .profile__user{

} */
.profile__dropdown{
  padding-left: 1.5rem;
  font-size: 1rem;
}
.profile__role{
  color:rgba(115, 119, 145, 1);
}
 .search__bar {
  width: 100%;
  padding: .2rem .5rem;
  outline: none;
  border: 0;
  font-size: 1rem;
  background-color:  rgba(249, 250, 251, 1);

}
.search__icon{
color: rgba(243, 148, 30, 1);
font-size: 1.1rem;
padding: 0 .2rem;
}

/* **************************  Main ******************************** */
main{
  background-color: rgba(249, 250, 251, 1);
  /* height: 100%; */
}

/* ***************  dummy **********************************  */
/* .logo__container{
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
} */

/* .company__name{
  color:#151D48;
  font-weight: 500;
  padding: .25rem;
}
.nav{
  width: 1575px;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid;
}
.search__bar{
  width: 845px;
  height: 60px;
  border: solid;
}

.menu{
  width: 298px;
  height: 49px;
  display: flex;
}
.menu img {
  border-radius: 50%;
}
.flex{
  display: flex;
} */



/* ************************   Responsive Design ************************* */

@media screen and (max-width : 450px ) {
  *{
    font-size: 10px;
  }
  
}